<!--ofertas-->
<div class="c-contenedor-caja-ofertas">
    <p class="titulo-sec-oferta">Sección Ofertas</p>
    <div class="c-caja__ofertas">
        <ion-row>
            <ion-col size="8">
              <div class="titulo_grandes-ofertas">Grandes Ofertas</div>
              <div class="fecha_grandes_ofertas">Hasta el 23/03</div>
            </ion-col>
            <ion-col size="4">
                <img src="/assets/icon/personaje_descuento.svg" alt="volver" class="c-icono-personaje">
            </ion-col>
        </ion-row>
    </div>
</div>

<!--descuentos-->
<div class="c-contenedor-caja-ofertas"> 
    <div class="c-caja__descuentos">
        <ion-row>
            <ion-col size="6">
                <div class="titulo-desceunto">Descuentos</div>
                <div class="descuento_valor">70%</div>
            </ion-col>
            <ion-col size="6">
                <ion-row class="m-top-10">
                    <ion-col>
                        <div class="c-titulo-vip">Nuestros vip</div>
                    </ion-col>
                </ion-row>
                <ion-row >
                  <ion-col>
                    <div class="c-titulo-valor">12</div>
                  </ion-col>
                  <ion-col>
                    <img src="/assets/icon/icn_protegido.svg" alt="volver" class="c-icono-vip">
                  </ion-col>
                </ion-row>
            </ion-col>
            <ion-col size="12">
                <div class="barra-division"></div>
            </ion-col>
        </ion-row>
    </div>
</div>