.c-estrella{
    width: 15px;
    height: 15px;

}
.contenedor_valoracion{
    margin: auto;
    display: block;
    text-align: center;
}
.c-orden-estrellas{
    display: inline-block;
}

.c-valor-estrella-numero{
    color:black;
}