/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import "./assets/scss/main.scss";



.swiper-pagination-bullet {
    opacity: 1;
    width: 10px;
    height: 10px;
}

.swiper-container-horizontal>.swiper-pagination-bullets {
margin-bottom: 10px !important;

}

.swiper-pagination-bullet-active {
    background:#ffbd46 !important;
}

.swiper-pagination-bullets {
    bottom: 10px !important;
}




.agm-map {
    height: 50%;
   
}
.agm-map-container-inner{
    border-radius: 8px!important;
    margin: 8px!important;
    margin-top: -13px!important;
}

.my-custom-modal-css .modal-wrapper {
    top: 20%;
    position: absolute; 
    display: block; 
    background-color: white; 
    background: white;
    border-radius: 8px;
 }