/*
  ===================================================
  ******* Colores de marca trb - app ****
  ===================================================
gradientes #006bff de #d46ab1

 } */


 $morado1:#7e6ad1;
 $morado2:#51358C;

 $verde:#17b7bd;
 $verde2:#27ffbc;

 $rojo:#eb5484;
 $rojo1:#E63780;
 
 $gris:#696565;
 $gris1:#d8d8d8;
 $gris2:#afafaf;
 $blanco:#ffff;

 $negro1:#555555;

 $amarillo:#ffbd46;

 $azuloscuro:#081920;


 :root {
  --ion-color-favorite:#f1f0f1;

}
